body {  
    font-family: roboto;  
    margin: 0;
    padding: 0; 
}
.sec1 {     
    padding-left: 100px;
    padding-right: 100px;   
    color: #f9faf8;
    background-color: #1f2937;
}
.container1 {
    display: flex;
    width: 100%; 
    justify-content: space-between; 
    align-items: center;
    margin: 0px;
    padding: 0px;
    padding-bottom: 100px;    
}  
.logo {
    font-size: 24px;
    color: #f9faf8;
    }

 
.top_links {
    display: flex;
    font-size: 18px;
    list-style-type: none;    
    gap: 16px;   
    margin: 0px;
    padding: 0px; 

}
a {
    text-decoration: none;
    color: #e5e7eb;
}
.hero {
    font-weight: 900;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 50px;
    padding-bottom: 100px;
}
.hero .left-column {
   flex: 1;
   max-width: 50%;
}
.hero_main {
    font-size: 48px;
    margin: 0 0 15px 0;
    line-height: 1.1; /* Added line height */
}
.hero_sub {
    font-size: 18px;
    color: #e5e7eb;
    margin: 0 
}
button {
    background-color: #3882f6;
    color: #f9faf8;
    font-weight: bold;
    border-radius: 8px;
    padding: 8px 16px;
    border: none;
    width: 100px;
}
.hero img {
    width: 300px; 
    height: 150px;
    object-fit: cover;
 }
/* img {
   width: 300px; 
   height: 150px; */
/*  */
.sec2 {
    padding: 50px 120px;
    text-align: center;
}
.sec2_main {
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
    margin: 0 0 50px 0;
    padding: 0px;
}
.sec2_container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
.sec2_item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    /* gap: 10px;
    padding: 0px;
    margin: 0px;
    border: 4px solid #3882f6;
    border-radius: 8px;
    width: 150px;
    height: 150px; */
    

}
.sec2_item img {
    width: 150px;
    height: 150px;
    border: 4px solid #3882f6;
    border-radius: 15px; /* Increased border radius for rounder corners */
    object-fit: cover; /* Maintain aspect ratio */
}
.sec2_item p {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 16px;
    color: #1f2937;
}
